<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.todo.model.mapper.TdoList">
<!-- parameterType : 
	 전달 받은 값(전달 인자/매개변수)의 타입을 명시
	 -> DTO, Map인 경우 필드명/key를 입력해서 하나씩 꺼낼 수 있음
 -->
 <!-- 
 
 	mapper에서 java의 data(파라미터)를 SQL에 삽입하는 방법
 	1) #{변수명 | 필드명} : SQL에 삽입 시 양쪽에 ''붙여서 삽입
 	2) #{변수명 | 필드명} : SQL에 삽입 시 양쪽에 ''붙이지 않고 삽입
 	-> ${} 언제 사용할까?
 	1) 삽입할 값이 숫자인 경우 (숫자 리터럴에 ''없음)
 	2) SQL문 자체가 변해야 하는 경우에 사용
 	
 	ex) SELECT MEMBER_NAME, ${key} FROM "MEMBER"
 	- ${key} == ENROLL_DATE인 경우
 	
 
  -->
<insert id="addTodo" parameterType="Todo">
	INSERT INTO TB_TODO
	VALUES(SEQ_TODO_NO.NEXTVAL, #{todoTitle}, #{todoContent}, DEFAULT, DEFAULT );
</insert>
<select>
	SELECT COUNT(*) FROM TB_TODO;
</select>
</mapper>
