<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="MyProfileLeft" style="width: 436px; height: 96.944vh; position: relative">
        <div class="Background" style="width: 426px; height: 94vh; left: 5px; top: 15px; position: absolute; background: #3889F2; border-radius: 30px"></div>
        <div style="width: 248px; height: 303px; left: 94px; top: 685px; position: absolute">
          <div class="Rectangle51" style="width: 248px; height: 303px; left: 0px; top: 0px; position: absolute; background: #076DF2; border-radius: 30px"></div>
          <img class="Intersect" style="width: 248px; height: 38px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/248x38" />
          <div style="width: 66px; height: 18.48px; left: 92px; top: 10px; position: absolute; text-align: center; color: #FFD332; font-size: 12px; font-family: Do Hyeon; font-weight: 400; line-height: 54px; word-wrap: break-word">자기소개</div>
          <div class="Isfp" style="width: 165px; height: 191px; left: 42px; top: 67px; position: absolute; color: #FAFAFA; font-size: 18px; font-family: Do Hyeon; font-weight: 400; line-height: 18px; word-wrap: break-word">안녕하세요<br/>ISFP입니다<br/>축구 하러 왔어요<br/>홍샘씨 바보</div>
        </div>
        <div class="Bot" style="width: 305px; height: 50px; left: 65px; top: 511px; position: absolute">
          <div class="Rectangle51" style="width: 248px; height: 50px; left: 29px; top: 0px; position: absolute; background: #076DF2; border-radius: 30px"></div>
          <div style="width: 305px; height: 24px; left: 0px; top: 13px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: Do Hyeon; font-weight: 400; line-height: 54px; word-wrap: break-word">프로필 수정</div>
        </div>
        <div class="Bot" style="width: 305px; height: 50px; left: 65px; top: 598px; position: absolute">
          <div class="Rectangle51" style="width: 248px; height: 50px; left: 29px; top: 0px; position: absolute; background: #076DF2; border-radius: 30px"></div>
          <div style="width: 305px; height: 24px; left: 0px; top: 13px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: Do Hyeon; font-weight: 400; line-height: 54px; word-wrap: break-word">비밀번호 수정</div>
        </div>
        <div class="Mid" style="width
        
        : 305px; height: 70px; left: 65px; top: 404px; position: absolute">
          <div class="Rectangle51" style="width: 248px; height: 70px; left: 29px; top: 0px; position: absolute; background: #076DF2; border-radius: 30px"></div>
          <img class="Intersect" style="width: 248px; height: 30px; left: 29px; top: 0px; position: absolute" src="https://via.placeholder.com/248x30" />
          <div style="width: 66px; height: 25px; left: 121px; top: 5px; position: absolute; text-align: center; color: #FFD332; font-size: 12px; font-family: Do Hyeon; font-weight: 400; line-height: 54px; word-wrap: break-word">이메일</div>
          <div class="User01KhOrKr" style="width: 305px; height: 25px; left: 0px; top: 35px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: Do Hyeon; font-weight: 400; line-height: 54px; word-wrap: break-word">user01@kh.or.kr</div>
        </div>
        <div class="Top" style="width: 248px; height: 70px; left: 94px; top: 297px; position: absolute">
          <div class="Rectangle51" style="width: 248px; height: 70px; left: 0px; top: 0px; position: absolute; background: #0554F2; border-radius: 30px"></div>
          <img class="Exclude" style="width: 248px; height: 70px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/248x70" />
          <img class="Intersect" style="width: 248px; height: 30px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/248x30" />
          <div style="width: 101px; height: 25px; left: 74px; top: 38px; position: absolute; text-align: center; color: white; font-size: 25px; font-family: BM DoHyeon OTF; font-weight: 400; line-height: 54px; word-wrap: break-word">아스날</div>
          <div style="width: 66px; height: 25px; left: 92px; top: 2px; position: absolute; text-align: center; color: #FFD332; font-size: 14px; font-family: Do Hyeon; font-weight: 400; line-height: 54px; word-wrap: break-word">닉네임</div>
        </div>
        <img class="Ellipse1" style="width: 200px; height: 200px; left: 118px; top: 60px; position: absolute; border-radius: 9999px" src="https://via.placeholder.com/200x200" />
      </div>

      
      <div style="width: 1090px; height: 584px; position: relative">
        <div style="width: 1090px; height: 507px; left: 0px; top: 77px; position: absolute">
          <div style="width: 1115px; height: 98px; left: 0px; top: 406px; position: absolute">
            <div style="width: 1092px; height: 98px; left: 0px; top: 0px; position: absolute; background: white; border-bottom: 1px #E1E1E1 solid"></div>
            <div style="width: 587px; height: 59px; left: 39px; top: 20px; position: absolute; color: #3C3C3C; font-size: 22px; font-family: BM DoHyeon OTF; font-weight: 400; line-height: 19px; word-wrap: break-word">백운대와 인수봉 사이 숨어있는 능선길을 찾아서! 숨은벽 릿지</div>
            <div style="width: 241px; height: 59px; left: 726px; top: 20px; position: absolute; color: #808080; font-size: 22px; font-family: BM DoHyeon OTF; font-weight: 400; line-height: 19px; word-wrap: break-word">코딩왕</div>
            <div class="04251855" style="width: 241px; height: 59px; left: 874px; top: 20px; position: absolute; color: #B4B4B4; font-size: 22px; font-family: BM DoHyeon OTF; font-weight: 400; line-height: 19px; word-wrap: break-word">2024-04-25 18:55</div>
          </div>
          <div style="width: 1115px; height: 98px; left: 0px; top: 304px; position: absolute">
            <div style="width: 1092px; height: 98px; left: 0px; top: 0px; position: absolute; background: white; border-bottom: 1px #E1E1E1 solid"></div>
            <div style="width: 387px; height: 59px; left: 39px; top: 20px; position: absolute; color: #3C3C3C; font-size: 22px; font-family: BM DoHyeon OTF; font-weight: 400; line-height: 19px; word-wrap: break-word">[목동] 왕초보 클라이밍 일일체험 클래스</div>
            <div style="width: 241px; height: 59px; left: 726px; top: 20px; position: absolute; color: #808080; font-size: 22px; font-family: BM DoHyeon OTF; font-weight: 400; line-height: 19px; word-wrap: break-word">배고파</div>
            <div class="04251115" style="width: 241px; height: 59px; left: 874px; top: 20px; position: absolute; color: #B4B4B4; font-size: 22px; font-family: BM DoHyeon OTF; font-weight: 400; line-height: 19px; word-wrap: break-word">2024-04-25 11:15</div>
          </div>
          <div style="width: 1115px; height: 98px; left: 0px; top: 204px; position: absolute">
            <div style="width: 1092px; height: 98px; left: 0px; top: 0px; position: absolute; background: white; border-bottom: 1px #E1E1E1 solid"></div>
            <div class="Bac" style="width: 409px; height: 59px; left: 39px; top: 20px; position: absolute; color: #3C3C3C; font-size: 22px; font-family: BM DoHyeon OTF; font-weight: 400; line-height: 19px; word-wrap: break-word">[블랙야크 BAC] 스포츠클라이밍 일일체험</div>
            <div style="width: 241px; height: 59px; left: 726px; top: 20px; position: absolute; color: #808080; font-size: 22px; font-family: BM DoHyeon OTF; font-weight: 400; line-height: 19px; word-wrap: break-word">유저삼</div>
            <div class="04241645" style="width: 241px; height: 59px; left: 874px; top: 20px; position: absolute; color: #B4B4B4; font-size: 22px; font-family: BM DoHyeon OTF; font-weight: 400; line-height: 19px; word-wrap: break-word">2024-04-24 16:45</div>
          </div>
          <div style="width: 1115px; height: 98px; left: 0px; top: 107px; position: absolute">
            <div style="width: 1092px; height: 98px; left: 0px; top: 0px; position: absolute; background: white; border-bottom: 1px #E1E1E1 solid"></div>
            <div style="width: 387px; height: 59px; left: 39px; top: 20px; position: absolute; color: #3C3C3C; font-size: 22px; font-family: BM DoHyeon OTF; font-weight: 400; line-height: 19px; word-wrap: break-word">[목동] 왕초보 클라이밍 일일체험 클래스<br/></div>
            <div style="width: 241px; height: 59px; left: 726px; top: 20px; position: absolute; color: #808080; font-size: 22px; font-family: BM DoHyeon OTF; font-weight: 400; line-height: 19px; word-wrap: break-word">유저이</div>
     
            <div class="04241335" style="width: 241px; height: 59px; left: 874px; top: 20px; position: absolute; color: #B4B4B4; font-size: 22px; font-family: BM DoHyeon OTF; font-weight: 400; line-height: 19px; word-wrap: break-word">2024-04-24 13:35</div>
          </div>
          <div style="width: 1115px; height: 98px; left: 0px; top: 5px; position: absolute">
            <div style="width: 1092px; height: 98px; left: 0px; top: 0px; position: absolute; background: white; border-bottom: 1px #E1E1E1 solid"></div>
            <div style="width: 630px; height: 59px; left: 39px; top: 20px; position: absolute; color: #3C3C3C; font-size: 22px; font-family: BM DoHyeon OTF; font-weight: 400; line-height: 19px; word-wrap: break-word"><br/>도전~ 면역력을 높이며 전신 근력을 키우는 스포츠 클라이밍!</div>
            <div style="width: 241px; height: 59px; left: 726px; top: 20px; position: absolute; color: #808080; font-size: 22px; font-family: BM DoHyeon OTF; font-weight: 400; line-height: 19px; word-wrap: break-word">유저일</div>
            <div class="04241245" style="width: 241px; height: 59px; left: 874px; top: 20px; position: absolute; color: #B4B4B4; font-size: 22px; font-family: BM DoHyeon OTF; font-weight: 400; line-height: 19px; word-wrap: break-word">2024-04-24 12:45</div>
          </div>
        </div>
        <div style="width: 205px; height: 63px; left: 5px; top: 0px; position: absolute; color: #3C3C3C; font-size: 40px; font-family: BM DoHyeon OTF; font-weight: 400; line-height: 19px; word-wrap: break-word">모임 게시판</div>
        <div style="width: 77.85px; height: 25px; left: 1012.06px; top: 34px; position: absolute; color: #3C3C3C; font-size: 18px; font-family: BM DoHyeon OTF; font-weight: 400; line-height: 19px; word-wrap: break-word">전체보기</div>
      </div>



      <div style="width: 644px; height: 1017px; position: relative">
        <div style="width: 644px; height: 1017px; left: 0px; top: 0px; position: absolute; background: #FAFAFA; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.40); border-radius: 30px"></div>
        <div class="Line4" style="width: 620px; height: 0px; left: 12px; top: 349px; position: absolute; box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25); border: 1px rgba(82.87, 82.87, 82.87, 0.50) solid"></div>
        <div style="width: 163px; height: 18.21px; left: 72px; top: 304.44px; position: absolute; text-align: center; color: #3C3C3C; font-size: 20px; font-family: BM DoHyeon OTF; font-weight: 400; line-height: 19px; word-wrap: break-word">내가 찜한 모임</div>
        <div style="width: 25px; height: 25px; left: 49px; top: 295px; position: absolute; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)">
          <div class="Mask" style="width: 24.89px; height: 22.97px; left: 0.06px; top: 1.10px; position: absolute; background: #FFD332"></div>
          <div class="Mask" style="width: 24.89px; height: 22.97px; left: 0.06px; top: 1.10px; position: absolute; background: #FFD332"></div>
          <div class="Color" style="width: 25px; height: 25px; left: 0px; top: 0px; position: absolute; background: #FFD332; justify-content: center; align-items: center; display: inline-flex">
            <div class="RectangleCopy" style="width: 25px; height: 25px; background: #FFD332"></div>
          </div>
        </div>
        <div class="Line3" style="width: 620px; height: 0px; left: 12px; top: 265px; position: absolute; box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25); border: 1px rgba(82.87, 82.87, 82.87, 0.50) solid"></div>
        <div style="width: 163px; height: 18.21px; left: 72px; top: 215.43px; position: absolute; text-align: center; color: #3C3C3C; font-size: 20px; font-family: BM DoHyeon OTF; font-weight: 400; line-height: 19px; word-wrap: break-word">내가 속한 모임</div>
        <div class="2" style="width: 24px; height: 24px; left: 51px; top: 206px; position: absolute; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)">
          <img class="Mask" style="width: 24px; height: 20.58px; left: 0px; top: 2.05px; position: absolute" src="https://via.placeholder.com/24x21" />
          <img class="Mask" style="width: 24px; height: 20.58px; left: 0px; top: 2.05px; position: absolute" src="https://via.placeholder.com/24x21" />
          <div class="Color" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
            <div class="RectangleCopy" style="width: 24px; height: 24px; background: #009C53"></div>
          </div>
        </div>
        <div class="Line2" style="width: 620px; height: 0px; left: 10px; top: 176px; position: absolute; box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25); border: 1px rgba(82.87, 82.87, 82.87, 0.50) solid"></div>
        <div style="width: 163px; height: 18.21px; left: 73px; top: 128.45px; position: absolute; text-align: center; color: #3C3C3C; font-size: 20px; font-family: BM DoHyeon OTF; font-weight: 400; line-height: 19px; word-wrap: break-word">내가 만든 모임</div>
        <div style="width: 24px; height: 24px; left: 51px; top: 122px; position: absolute; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)">
          <img class="Mask" style="width: 24px; height: 20.57px; left: 0px; top: 2px; position: absolute" src="https://via.placeholder.com/24x21" />
          <img class="Mask" style="width: 24px; height: 20.57px; left: 0px; top: 2px; position: absolute" src="https://via.placeholder.com/24x21" />
          <div class="Color" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; background: #FAFAFA; justify-content: center; align-items: center; display: inline-flex">
            <div class="RectangleCopy" style="width: 24px; height: 24px; background: #076DF2"></div>
          </div>
        </div>
        <div class="Line1" style="width: 620px; height: 0px; left: 12px; top: 92px; position: absolute; box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25); border: 1px rgba(82.87, 82.87, 82.87, 0.50) solid"></div>
        <div style="left: 48px; top: 50.57px; position: absolute; text-align: center; color: #3C3C3C; font-size: 25px; font-family: BM DoHyeon OTF; font-weight: 400; line-height: 19px; word-wrap: break-word">나의 모임 현황</div>
      </div>
</body>
</html>